<!DOCTYPE html>
<html
    lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.w3.org/1999/xhtml"
    xmlns:xsi="http://www.w3.org/1999/xhtml"
    xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:rel="stylesheet" th:href="@{/css/all.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}"/>
    <style>

            .tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
    opacity:1 !important; /*disable bootstrap tooltip shit*/
}

.tooltip .bottom {
    min-width:300px;
    top:40px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:4px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip:hover .bottom {
    display:block;
}

.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

    </style>
</head>

<body>
<div class="container-scroller">


<!--Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;" >
        <a class="navbar-brand" th:href="@{/dashboard}">
            <img th:src="@{/images/company.logo.small.png}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        th:text="${s_auth_message}"
                    >
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/projects}">Projects</a>
                        <a class="dropdown-item" th:href="@{/people}">People</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/register/new_password}">Change Password</a>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <!--sidebar-->
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 bg-light">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a th:href="@{/}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Top</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">


                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fas fa-address-book"></i> <span class="ms-1 d-none d-sm-inline">Contacts</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a th:href="@{/companies}" class="nav-link align-middle px-0">
                                        <i class="fas fa-building"></i><span class="ms-1 d-none d-sm-inline">Companies</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/people}" class="nav-link px-0 align-middle">
                                        <i class="fas fa-users"></i> <span class="ms-1 d-none d-sm-inline">People</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/groups}" class="nav-link px-0 align-middle">
                                        <i class="fas fa-object-group"></i> <span class="ms-1 d-none d-sm-inline">Groups</span>
                                    </a>
                                </li>
                            </ul>
                        </li>





                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fas fa-bars"></i> <span class="ms-1 d-none d-sm-inline">Settings</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a th:href="@{/settings}" class="nav-link align-middle px-0">
                                        <i class="fas fa-wrench"></i><span class="ms-1 d-none d-sm-inline">Configuration</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/texts}" class="nav-link px-0 align-middle">
                                        <i class="fas fa-font"></i> <span class="ms-1 d-none d-sm-inline">Texts</span>
                                    </a>
                                </li>
                            </ul>
                        </li>





                        <li>
                            <a href="#submenu4"  data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fas fa-toolbox"></i> <span class="ms-1 d-none d-sm-inline">Projects</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a th:href="@{/projects}" class="nav-link align-middle px-0">
                                        <i class="fas fa-wrench"></i><span class="ms-1 d-none d-sm-inline">Operations</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/reports}" class="nav-link px-0 align-middle">
                                        <i class="fas fa-font"></i> <span class="ms-1 d-none d-sm-inline">Reports</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a th:href="@{/logout}" class="nav-link px-0 align-middle">
                                <i class="fas fa-unlock"></i><span class="ms-1 d-none d-sm-inline">Logout</span></a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <section layout:fragment="content">
                <p>Page content goes here</p>
            </section>
        </div>
    </div>


    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

</body>
</html>
