<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{workflow_layout.html}">

    <head>
    <title>Bulk mailing: Error 500 - Internal server error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    </head>

<body>
<section layout:fragment="content">

    <h1>Error 500 - Internal server error</h1>

    <p>Message: <span th:text="${excmgs}"></span></p>
    <pre>Message: <span th:text="${stacktrace}"></span></pre>

    <p>Go to <a th:href="@{/dashboard}">Dashboard</a></p>


</section>

</div>
</body>
</html>
