<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{workflow_layout.html}"
>
    <head>
    <title>Bulk mailing: Companies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/pagination_style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <style>
		.paging-form{
		}
	</style>

    <body>
<section layout:fragment="content">


    <div class="container-fluid" style="max-width: 90%; margin: 0;">
        <h2 class="text-center">Companies</h2>

        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
             role="alert">
            [[${message}]]
            <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form th:action="@{/companies/search}" method="post" id="searchForm" >
        <div>
                <div class="row">
                    <div class="col">
                        <div class="search">
                            <input
                                id="keyword"
                                type="search"
                                name="keyword"
                                th:value="${keyword}"
                                class="form-control"
                                placeholder="Enter keyword"
                            >
                            <button
                                type="submit_lens"
                                class="btn btn-secondary"
                                id="btn_search"
                                name="btn_search"
                            >
                            Search
                            </button>
                        </div>
                    </div>
                    <div class="col input-group">
                        <label for="pageSize">Page size:</label>
                        <input  class="page-item paging-form"
                                type="number"
                                size="5"
                                th:with="pageSize=*{pageSize}"
                                name="pageSize"
                                id="pageSize"
                                th:value="${pageSize}"
                        />
                    </div>
                    <div class="col">
                        <button name="btnClear" class="btn btn-info">Clear</button>
                        <a href="/company_new" class="btn btn-info">New</a>
                    </div>
                </div>

        </div>


        <div th:if="${companies.size() > 0}">
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Nation</th>
                    <th scope="col">Active</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="company : ${companies}">
                    <th scope="row">[[${company.id}]]</th>
                    <td>[[${company.name}]]</td>
                    <td>[[${company.city}]]</td>
                    <td><span th:if="${company.nation}">[[${company.nation.nation}]]</span></td>
                    <td>
                        <a th:if="${company.active}" th:href="@{'/companies/' + ${company.id} + '/published/false'}" title="Disable this company"><i class="fas fa-check"></i></a>
                        <a th:if="! ${company.active}"  th:href="@{'/companies/' + ${company.id} + '/published/true'}" title="Enable this company"><i class="fas fa-circle"></i></a>
                    </td>
                    <td>
                        <a th:href="@{'/companies/edit/' + ${company.id}}" title="Edit this company"><i class="fas fa-marker"></i></a>
                        &nbsp;
                        <a
                            th:href="@{'/companies/delete/' + ${company.id}}"
                            th:companyTitle="${company.name}" id="btnDelete"
                            title="Delete this company"
                            onclick="return confirm('Are you sure you wish to delete this company?')"
                        ><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:unless="${companies.size() > 0}">
            <span>No companies found!</span>
        </div>

        <div th:replace="fragments/pagination :: pagination(companies)"></div>

        </form>
    </div>


</section>
</div>
</body>
</html>
