<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{workflow_layout.html}"
>
    <head>
    <title>Bulk mailing: Companies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/pagination_style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <style>
		.paging-form{
		}
	</style>

    <body>
<section layout:fragment="content">

    <div class="container-fluid" style="max-width: 90%; margin: 0;">
        <h2 class="text-center">Companies</h2>

        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
             role="alert">
            [[${message}]]
            <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form th:action="@{/companies/search}" method="post" id="searchForm" >
        <div>
                <div class="row">
                    <div class="col">
                        <div class="search">
                            <input
                                id="keyword"
                                type="search"
                                name="keyword"
                                th:value="${keyword}"
                                class="form-control"
                                placeholder="Enter keyword"
                            >
                            <button
                                type="submit_lens"
                                class="btn btn-secondary"
                                id="btn_search"
                                name="btn_search"
                            >
                            Search
                            </button>
                        </div>
                    </div>
                    <div class="col input-group">
                        <label for="pageSize">Page size:</label>
                        <input  class="page-item paging-form"
                                type="number"
                                size="5"
                                th:with="pageSize=*{pageSize}"
                                name="pageSize"
                                id="pageSize"
                                th:value="${pageSize}"
                        />
                    </div>
                    <div class="col">
                        <button name="btnClear" class="btn btn-info">Clear</button>
                        <a href="/company_new" class="btn btn-info">New</a>
                    </div>
                </div>

        </div>


        <div th:if="${companies.size() > 0}">
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Nation</th>
                    <th scope="col">Active</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="company : ${companies}">
                    <th scope="row">[[${company.id}]]</th>
                    <td>[[${company.name}]]</td>
                    <td>[[${company.city}]]</td>
                    <td><span th:if="${company.nation}">[[${company.nation.nation}]]</span></td>
                    <td>
                        <a th:if="${company.active}" class="fa-regular bi-check-square"
                           th:href="@{'/companies/' + ${company.id} + '/published/false'}" title="Disable this company"></a>
                        <a th:if="! ${company.active}" class="fa-regular bi-square"
                           th:href="@{'/companies/' + ${company.id} + '/published/true'}" title="Enable this company"></a>
                    </td>
                    <td>
                        <a th:href="@{'/companies/edit/' + ${company.id}}" title="Edit this company"
                           class="fa-regular bi-pencil icon-dark"></a>
                        &nbsp;
                        <a
                            th:href="@{'/companies/delete/' + ${company.id}}"
                            th:companyTitle="${company.name}" id="btnDelete"
                            title="Delete this company"
                            class="fa-regular bi-trash icon-dark btn-delete"
                            onclick="return confirm('Are you sure you wish to delete this company?')"
                        >
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:unless="${companies.size() > 0}">
            <span>No companies found!</span>
        </div>
        <nav aria-label="Pagination" th:if="${totalPages > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a hx-post="/companies/navigate/first"
                       hx-trigger="click"
                       hx-include="paging-form"
                       hx-target="body"
                       class="btn btn-primary" th:classappend="${currentPage == 1} ? 'disabled'"
                    >&#9194;</a>
                </li>
                <li class="page-item font-weight-bold">
                    <a hx-post="/companies/navigate/prev"
                       hx-trigger="click"
                       hx-include="paging-form"
                       hx-target="body"
                       class="btn btn-primary" th:classappend="${currentPage == 1} ? 'disabled'"
                    >&#9664;️</a>
                </li>
                <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                    th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                    <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item font-weight-bold" >
                    <input type="hidden" name="currentPage" th:value="${currentPage}">
                    <input type="hidden" name="totalPages" th:value="${totalPages}">
                    <a hx-post="/companies/navigate/next"
                       hx-trigger="click"
                       hx-include="paging-form"
                       hx-target="body"
                       class="btn btn-primary" th:classappend="${currentPage == totalPages} ? 'disabled'"
                    >&#9654;</a>
                </li>
                <li class="page-item">
                    <a hx-post="/companies/navigate/last"
                       hx-trigger="click"
                       hx-include="paging-form"
                       hx-target="body"
                       class="btn btn-primary"  th:classappend="${currentPage == totalPages} ? 'disabled'"
                    >&#9193;</a>
                </li>
            </ul>
        </nav>
        </form>
    </div>


</section>
</div>
</body>
</html>
