<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{workflow_layout.html}"
>
    <head>
    <title>Bulk mailing: People</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/pagination_style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <style>
        .paging-form{
    }
    </style>
    </head>
<body>
<section layout:fragment="content">

    <div class="container-fluid" style="max-width: 90%; margin: 0;">
        <h2 class="text-center">People</h2>

        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
             role="alert">
            [[${message}]]
            <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div>
            <form th:action="@{/people/search}" method="post" id="searchForm" >
                <div class="row">
                    <div class="col">
                        <div class="search">
                            <input
                                id="keyword"
                                type="search"
                                name="keyword"
                                th:value="${keyword}"
                                class="form-control"
                                placeholder="Enter keyword"
                            >
                            <button
                                type="submit_lens"
                                class="btn btn-secondary"
                                id="btn_search"
                                name="btn_search"
                            >
                            Search
                            </button>
                        </div>
                    </div>
                    <div class="col input-group">
                        <label for="pageSize">Page size:</label>
                        <input  class="page-item paging-form"
                                type="number"
                                size="5"
                                th:with="pageSize=*{pageSize}"
                                name="pageSize"
                                id="pageSize"
                                th:value="${pageSize}"
                        />
                    </div>
                    <div class="col">
                        <button name="btnClear" class="btn btn-info">Clear</button>
                        <a href="/person/new" class="btn btn-info">New</a>
                    </div>
                </div>



        <div th:if="${people.size() > 0}">
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Family Name</th>
                    <th scope="col">Company</th>
                    <th scope="col">Groups</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person : ${people}">
                    <th scope="row">[[${person.personId}]]</th>
                    <td>[[${person.firstName}]]</td>
                    <td>[[${person.familyName}]]</td>
                    <td><div th:if="${person.company}">[[${person.company.name}]]</div></td>
                    <td>
                        <div th:if="${person.groups}" th:each="group:${person.groups}">[[${group.groupName}]]</div>
                        <div th:unless="${person.groups}">-</div>
                    </td>
                    <td>
                        <a th:if="${person.active}" class="fa-regular bi-check-square"
                           th:href="@{'/people/' + ${person.personId} + '/published/false'}" title="Disable this person"></a>
                        <a th:if="! ${person.active}" class="fa-regular bi-square"
                           th:href="@{'/people/' + ${person.personId} + '/published/true'}" title="Disable this person"></a>
                        <a th:href="@{'/people/edit/' + ${person.personId}}" title="Edit this person"
                           class="fa-regular bi-pencil icon-dark"></a>
                        &nbsp;
                        <a
                            th:href="@{'/people/delete/' + ${person.personId}}"
                            th:title="${person.firstName}" id="btnDelete"
                            title="Delete this person"
                            class="fa-regular bi-trash icon-dark btn-delete"
                            onclick="return confirm('Are you sure you wish to delete this person?')"
                        >
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:unless="${people.size() > 0}">
            <span>No people found!</span>
        </div>

        <nav aria-label="Pagination" th:if="${totalPages > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a hx-post="/people/navigate/first"
                       hx-trigger="click"
                       hx-include="paging-form"
                       hx-target="body"
                       class="btn btn-primary" th:classappend="${currentPage == 1} ? 'disabled'"
                    >&#9194;&#xFE0E;</a>
                </li>
                <li class="page-item font-weight-bold">
                    <a hx-post="/people/navigate/prev"
                       hx-trigger="click"
                       hx-include="paging-form"
                       hx-target="body"
                       class="btn btn-primary" th:classappend="${currentPage == 1} ? 'disabled'"
                    >&#9664;&#xFE0E;️️</a>
                </li>
                <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                    th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                    <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page}, people)"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item font-weight-bold" >
                    <input type="hidden" name="currentPage" th:value="${currentPage}">
                    <input type="hidden" name="totalPages" th:value="${totalPages}">
                    <a hx-post="/people/navigate/next"
                       hx-trigger="click"
                       hx-include="paging-form"
                       hx-target="body"
                       class="btn btn-primary" th:classappend="${currentPage == totalPages} ? 'disabled'"
                    >&#9654;&#xFE0E;</a>
                </li>
                <li class="page-item">
                    <a hx-post="/people/navigate/last"
                       hx-trigger="click"
                       hx-include="paging-form"
                       hx-target="body"
                       class="btn btn-primary"  th:classappend="${currentPage == totalPages} ? 'disabled'"
                    >&#9193;&#xFE0E;</a>
                </li>
            </ul>
        </nav>

        </form>

    </div>



</section>
</div>
</body>
</html>
