<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{workflow_layout.html}"
>
<head>
	<title>Bulk mailing: Settings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<style>
		.sending_form{
		}
		.reading_form{
		}
	</style>
</head>
<body>
<section layout:fragment="content">
	<h2>Global settings</h2>
	<div style="width:80%">
		<div class="container">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true" >Sending</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Checking</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="tab3-tab" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Rules</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="tab4-tab" data-bs-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">Status</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
						<h3>Sending messages</h3>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="SMTPServer">SMTP server:</label>
							<div class="col-sm-10">
								<input	type="text"
								required
								class="form-control"
								id="SMTPServer"
								name="SMTPServer"
								placeholder="smtp.provider.com"
								th:value="${settings_map.get('SMTPServer')}"
								/>
							</div>
						</div>


						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="SMTPPort">SMTP Server port:</label>
							<div class="col-sm-10">
								<input	type="text"
								required
								class="form-control"
								id="SMTPPort"
								name="SMTPPort"
								placeholder="587"
								th:value="${settings_map.get('SMTPPort')}"
								/>
							</div>
						</div>


						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="serveruname">User name:</label>
							<div class="col-sm-10">
								<input	type="text"
								required
								class="form-control"
								id="serveruname"
								name="serveruname"
								placeholder="my_user_name"
								th:value="${settings_map.get('serveruname')}"
								/>
							</div>
						</div>


						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="serverpassword">Password:</label>
							<div class="col-sm-10">
								<input	type="password"
								required
								class="form-control"
								id="serverpassword"
								name="serverpassword"
								placeholder="super_secret_password"
								th:value="${settings_map.get('serverpassword')}"
								/>
							</div>
						</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:for="serverpassword2">Confirm password:</label>
						<div class="col-sm-10">
							<input	type="password"
							required
							class="form-control"
							id="serverpassword2"
							name="serverpassword2"
							placeholder="confirm password"
							th:value="${settings_map.get('serverpassword')}"
							/>
						</div>
					</div>



						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="authtype">Authentication type:</label>
							<div class="col-sm-10">
								<select	th:selected="${settings_map.get('authtype')}"
								class="form-control"
								id=authtype
								name=authtype
								style="width:30%;float:left;"
								>
								<option value="NONE">None</option>
								<option th:if="'STARTTLS'==${settings_map.get('authtype')}" selected=selected value="STARTTLS">STARTTLS</option>
								<option th:unless="'STARTTLS'==${settings_map.get('authtype')}" value="STARTTLS">STARTTLS</option>
								<option th:if="'SSL_TLS'==${settings_map.get('authtype')}" selected=selected value="SSL_TLS">SSL/TLS</option>
								<option th:unless="'SSL_TLS'==${settings_map.get('authtype')}" value="SSL_TLS">SSL/TLS</option>
								</select>
							</div>
						</div>



						<a hx-post="@{/settings/mailServer}"
						   hx-target="#mailServerResults"
						   hx-include=".form-control"
						   hx-swap="innerHTML"
						   class="btn btn-primary"
						>Save changes</a><span id="mailServerResults"></span>
					</div> <!--SMTP tab-->

					<div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
						<h3>Checking sent messages</h3>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="imap_server">IMAP server:</label>
							<div class="col-sm-10">
							<input	type="text"
							required
							class="reading_form form-control"
							id="imap_server"
							name="imap_server"
							placeholder="imap.provider.com"
							th:value="${settings_map.get('imap_server')}"
							/>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="imap_server_port">IMAP server port:</label>
							<div class="col-sm-10">
								<input	type="text"
										  required
										  class="reading_form form-control"
										  id="imap_server_port"
										  name="imap_server_port"
										  placeholder="143"
										  th:value="${settings_map.get('imap_server_port')}"
								/>
							</div>
						</div>


						<div class="form-check form-switch">
							<input th:if="'on'==${settings_map.get('imap_ssl')}" checked=checked
								   class="reading_form form-check-input"
								   name="imap_ssl"
								   id="imap_ssl"
								   type="checkbox"
							>
							<input th:unless="'on'==${settings_map.get('imap_ssl')}"
								   class="reading_form form-check-input"
								   name="imap_ssl"
								   id="imap_ssl"
								   type="checkbox"
							>
							<p>IMAP use SSL</p>
						</div>


						<div class="form-check form-switch">
							<input th:if="'on'==${settings_map.get('imap_user_same')}" checked=checked
								   class="reading_form form-check-input"
								   name="imap_user_same"
								   id="imap_user_same"
								   type="checkbox"
							>
							<input th:unless="'on'==${settings_map.get('imap_user_same')}"
								   class="reading_form form-check-input"
								   name="imap_user_same"
								   id="imap_user_same"
								   type="checkbox"
							>
							<p>IMAP user same as SMTP user</p>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="serveruname">User name:</label>
							<div class="col-sm-10">
								<input	type="text"
										  class="reading_form"
										  id="imap_uname"
										  name="imap_uname"
										  placeholder="my_user_name"
										  th:value="${settings_map.get('imap_uname')}"
								/>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="imap_password">Password:</label>
							<div class="col-sm-10">
								<input	type="password"
										  required
										  class="reading_form"
										  id="imap_password"
										  name="imap_password"
										  placeholder="super_secret_password"
										  th:value="${settings_map.get('imap_password')}"
								/>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="imap_password2">Confirm password:</label>
							<div class="col-sm-10">
								<input	type="password"
										  required
										  class="reading_form"
										  id="imap_password2"
										  name="imap_password2"
										  placeholder="confirm password"
										  th:value="${settings_map.get('imap_password')}"
								/>
							</div>
						</div>


						<a hx-post="@{/settings/readingRules}"
						   hx-target="#readingRulesResults"
						   hx-include=".reading_form"
						   hx-swap="innerHTML"
						   class="btn btn-primary"
						>Save changes</a><span id="readingRulesResults"></span>



					</div>  <!--IMAP tab-->

					<div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
						<h3>General Rules</h3>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="sendingRandomDelay">Minimum delay between sends:</label>
							<div class="col-sm-10">
								<input	type="numeric"
										  required
										  class="form_read"
										  id="sendingRandomDelay"
										  name="sendingRandomDelay"
										  placeholder="500 (ms)"
										  th:value="${settings_map.get('sendingRandomDelay')}"
								/> ms
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="batchSize">Batch size:</label>
							<div class="col-sm-10">
								<input	type="numeric"
										  required
										  class="form_read"
										  id="batchSize"
										  name="batchSize"
										  placeholder="50"
										  th:value="${settings_map.get('batchSize')}"
								/>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="minPauseBatch">Minimum pause between batches:</label>
							<div class="col-sm-10">
								<input	type="numeric"
										  required
										  class="form_read"
										  id="minPauseBatch"
										  name="minPauseBatch"
										  placeholder="5000 (ms)"
										  th:value="${settings_map.get('minPauseBatch')}"
								/> ms
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:for="maxMessagesInADay">Max messages in a day:</label>
							<div class="col-sm-10">
								<input	type="numeric"
										  required
										  class="form_read"
										  id="maxMessagesInADay"
										  name="maxMessagesInADay"
										  placeholder="500"
										  th:value="${settings_map.get('maxMessagesInADay')}"
								/>
							</div>
						</div>

						<div class="form-check form-switch">
							<input th:if="'on'==${settings_map.get('message_send_randomize')}" checked=checked
								   class="form_read form-check-input"
								   name="message_send_randomize"
								   type="checkbox"
							>
							<input th:unless="'on'==${settings_map.get('message_send_randomize')}"
								   class="form_read form-check-input"
								   name="message_send_randomize"
								   type="checkbox"
							>
							<span id="time_randomize" name="time_randomize">Randomize send times</span>
						</div>

						<a hx-post="@{/settings/sendingRules}"
						   hx-target="#sendingRulesResults"
						   hx-include=".form_read"
						   hx-swap="innerHTML"
						   class="btn btn-primary"
						>Save changes</a><span id="sendingRulesResults"></span>


					</div>  <!--RULES tab-->

					<div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
						<h3>Send mail daemon status</h3>
						<p><strong>N.B.</strong>: the effect of the controls below is immediate: there is no save button.</p>
						<div class="mb-3">
							<div class="form-check form-switch">
								<input th:if="'1'==${settings_map.get('send_mail_daemon_running')}" checked=checked
									   class="form-check-input"
									   hx-post="settings/toggle/send_mail_daemon_running"
									   hx-target="#send_mail_daemon_running"
									   hx-swap="innerHTML"
									   hx-trigger="click"
									   hx-vals='{"checkbox": "send_mail_daemon_running"}'
									   name="send_mail_daemon_running"
									   type="checkbox"
								>
								<input th:unless="'1'==${settings_map.get('send_mail_daemon_running')}"
									   class="form-check-input"
									   hx-post="settings/toggle/send_mail_daemon_running"
									   hx-target="#send_mail_daemon_running"
									   hx-swap="innerHTML"
									   hx-trigger="click"
									   hx-vals='{"checkbox": "send_mail_daemon_running"}'
									   name="send_mail_daemon_running"
									   type="checkbox"
								>
								Send mail daemon status <span id="send_mail_daemon_running" name="send_mail_daemon_running" class="fas fa-heart"></span>
								&nbsp;&nbsp;&nbsp;&nbsp;<span id="smd_hb" name="smd_hb"></span>
							</div>
						</div>

						<div class="mb-3">
							<div class="form-check form-switch">
								<input th:if="'1'==${settings_map.get('read_mail_daemon_running')}" checked=checked
									   class="form-check-input"
									   hx-post="settings/toggle/read_mail_daemon_running"
									   hx-target="#read_mail_daemon_running"
									   hx-swap="innerHTML"
									   hx-trigger="click"
									   hx-vals='{"checkbox": "read_mail_daemon_running"}'
									   name="read_mail_daemon_running"
									   type="checkbox"
								>
								<input th:unless="'1'==${settings_map.get('read_mail_daemon_running')}"
									   class="form-check-input"
									   hx-post="settings/toggle/read_mail_daemon_running"
									   hx-target="#read_mail_daemon_running"
									   hx-swap="innerHTML"
									   hx-trigger="click"
									   hx-vals='{"checkbox": "read_mail_daemon_running"}'
									   name="read_mail_daemon_running"
									   type="checkbox"
								>
								Read mail daemon status <span id="read_mail_daemon_running" name="read_mail_daemon_running" class="fas fa-heart"></span>
							</div>
						</div>
					</div>  <!--STATUS tab-->

				</div>
			</div>
	</div>



	<script>
		var	hbr
		,	hbs
		,	fsr
		,	fss;
		function alertRetFalse(resp_ext){
			alert(resp_ext);
			return false;
		}

		$(document).ready(
			function() {
				$('#imap_user_same').on('change', function() {
					if ($(this).is(':checked'))
						sameu_disabled(true);
					 else
						sameu_disabled(false);
				});

				var sameu=$('#imap_user_same').val();
				if("on"==sameu)
					sameu_disabled(true);

				setInterval(function() {
					var col_read
					,	col_send
					,	hbrv
					,	hbsv
					,	params =
					{	'verb':'heartbeats'
					};
					$.ajax(
					{	url: 'settings/settings_ajx_svc'
					,	method: "POST"
					,	contentType: 'application/json'
					,	data: JSON.stringify(params)
					,	success: function(data){
							col_read=data.READ;
							col_send=data.SEND;

							$('#read_mail_daemon_running').css("color", col_read);
							$('#send_mail_daemon_running').css("color", col_send);

							hbrv=data.HBR.value;
							hbsv=data.HBS.value;

							if(hbrv!=hbr)
								if(fsr=="12px")
									fsr="16px";
								else
									fsr="12px";
							hbr=hbrv;
							if(hbsv!=hbs)
								if(fss=="12px")
									fss="16px";
								else
									fss="12px";
							hbs=hbsv;
							$('#read_mail_daemon_running').css("font-size", fsr);
							$('#send_mail_daemon_running').css("font-size", fss);
						}
					,	error: function(data) {
							console.log(data);
							return alertRetFalse(data.responseText);
						}
					}
					)
				}, 1000);

			}
		);

		function sameu_disabled(value){
			$('#imap_uname').prop('disabled', value);
			$('#imap_password').prop('disabled', value);
			$('#imap_password2').prop('disabled', value);
		}


	</script>
</section>
</body>
</html>
