<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{workflow_layout.html}"
>
<head>
	<meta charset="UTF-8"/>
	<title>Bulk mailing: Project properties</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/hyperscript.org/dist/_hyperscript.js}"></script>
</head>
<body>
<section layout:fragment="content">



	<div style="width:80%">

		<form th:action="@{/project/insert}" th:object="${project}" method="post" class="form-horizontal">
			<h3 th:if="${project.Id}">Edit project</h3>
			<h3 th:unless="${project.Id}">New project</h3>

			<div th:if="${#fields}">
				<div th:if="${#fields.hasAnyErrors()}">
					Please correct the following errors in the inserted data:
				</div>
			</div>

			<input
					type="hidden"
					name="Id"
					th:field="*{Id}"
			/>


			<div class="form-group row" id="groups_div">
				<label class="col-sm-2 col-form-label" th:for="people">Groups:</label>
				<div class="col-sm-10">
					<select
							size=10
							class="form-control"
							id=sel_groups
							multiple=multiple
							name=sel_groups
							style="width:30%;float:left;"
					>
						<option
								th:each="option : ${all_groups}"
								th:value="${option.groupId}"
								th:text="${option.groupName}"
						></option>
					</select>
					<div style="float:left;text-align:center">
					<a
							class="btn btn-primary"
							onclick="addGroup()"
					>Add ➡</a>
						</br>
						<span
								class="btn btn-primary"
								onclick="removeGroup()"
						>⬅ Remove
					</span>
					</div>
					<div style="width:30%;float:left;">
						<select
								size=10
								class="form-control"
								multiple=multiple
								id=selected_groups
								name=selected_groups
								th:field="*{groups}"
								style="float:left;"
						>
							<option
									th:each="option : ${project.groups}"
									th:value="${option.groupId}"
									th:text="${option.groupName}"
							></option>
						</select>
					</div>
				</div>
			</div>



			<div class="form-group row" id="companies_div">
				<label class="col-sm-2 col-form-label" th:for="people">Companies:</label>
				<div class="col-sm-10">
					<select
							size=10
							class="form-control"
							id=sel_companies
							multiple=multiple
							name=sel_companies
							style="width:30%;float:left;"
					>
						<option
								th:each="option : ${all_companies}"
								th:value="${option.Id}"
								th:text="${option.name}"
						></option>
					</select>
					<div style="float:left;text-align:center">
					<span
							class="btn btn-primary"
							onclick="addCompany()"
					>Add ➡</span>
						</br>
						<span
								class="btn btn-primary"
								onclick="removeCompany()"
						>⬅ Remove
					</span>
					</div>
					<div style="width:30%;float:left;">
						<select
								size=10
								class="form-control"
								multiple=multiple
								id=selected_companies
								name=selected_companies
								th:field="*{people}"
								style="float:left;"
						>
							<option
									th:each="option : ${project.companies}"
									th:value="${option.Id}"
									th:text="${option.name}"
							></option>
						</select>
					</div>
				</div>
			</div>



			<div class="form-group row" id="persons_div">
				<label class="col-sm-2 col-form-label" th:for="people">Individuals:</label>
				<div class="col-sm-10">
					<select
							size=10
							class="form-control"
							id=available_persons
							multiple=multiple
							name=available_persons
							style="width:30%;float:left;"
					>
						<option
								th:each="option : ${all_persons}"
								th:value="${option.personId}"
								th:text="${option.firstName} + ' ' + ${option.familyName}"
						></option>
					</select>
					<div style="float:left;text-align:center">
					<span
							class="btn btn-primary"
							onclick="addPerson()"
					>Add ➡</span>
						</br>
						<span
								class="btn btn-primary"
								onclick="removePerson()"
						>⬅ Remove
					</span>
					</div>
					<div style="width:30%;float:left;">
						<select
								size=10
								class="form-control"
								multiple=multiple
								id=selected_pers
								name=selected_pers
								th:field="*{people}"
								style="float:left;"
						>
							<option
									th:each="option : ${project.people}"
									th:value="${option.personId}"
									th:text="${option.firstName} + ' ' + ${option.familyName}"
							></option>
						</select>
					</div>
				</div>
			</div>






			<button type="submit">Submit</button>
		</form>
	</div>

	<script type="text/javascript">
function alertRetFalse(resp_ext){
	alert(resp_ext);
	return false;
}

function addGroup() {
		var groups_array=$('#sel_groups').val()
		,	params =
		{	'verb':'add_groups'
		,	'groups':groups_array
		};

		$.ajax(
		{	url: '/project/ajx_dispatcher'
		,	method: "POST"
		,	contentType: 'application/json'
		,	data: JSON.stringify(params)
		,	success: function(data){
			alert('SUCCESS');
			console.log(data);
			}
		,	error: function(data) {
				console.log(data);
				return alertRetFalse(data.responseText);
		}
		});
	}

function removeGroup() {
	$('#selected_pers option:selected').each(function(idx, opt){
		$('#available_persons').append(opt);
		$('#selected_pers').find('option[value="'+opt.value+'"]').remove();
	});
}


function removePerson() {
	$('#selected_pers option:selected').each(function(idx, opt){
		$('#available_persons').append(opt);
		$('#selected_pers').find('option[value="'+opt.value+'"]').remove();
	});
}
function addPerson() {
	$('#available_persons option:selected').each(function(idx, opt){
		$('#selected_pers').append(opt);
		$('#available_persons').find('option[value="'+opt.value+'"]').remove();
	});
}

function removeCompany() {
	$('#selected_companies option:selected').each(function(idx, opt){
		$('#companies').append(opt);
		$('#selected_companies').find('option[value="'+opt.value+'"]').remove();
	});
}
function addCompany() {
	$('#companies option:selected').each(function(idx, opt){
		$('#selected_companies').append(opt);
		$('#companies').find('option[value="'+opt.value+'"]').remove();
	});
}


function fill_values(){
	$('#member_of option').prop('selected', true);
	console.log($('#member_of'));
}
</script>


</section>
</div>


</body>
</html>
