<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{workflow_layout.html}"
>
<head>
	<meta charset="UTF-8"/>
	<title>Bulk mailing: Project properties</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/hyperscript.org/dist/_hyperscript.js}"></script>
	<script type="text/javascript" th:src="@{/js/projects.js}"></script>
</head>
<body>
<section layout:fragment="content">



	<div style="width:80%">

		<form action="#" th:action="@{/project/insert}" th:object="${project}" method="post" class="form-horizontal">


			<h3 th:if="${project.Id}">Edit project</h3>
			<h3 th:unless="${project.Id}">New project</h3>

			<div th:if="${#fields}">
				<div th:if="${#fields.hasAnyErrors()}">
					Please correct the following errors in the inserted data:
				</div>
			</div>

			<input
					type="hidden"
					name="Id"
					th:field="*{Id}"
			/>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label" th:for="mailSubject">Description:</label>
				<div class="col-sm-10">
					<input
							type="text"
							required
							class="form-control"
							id="projectName"
							name="projectName"
							placeholder="Christmas wishes 2023"
							th:field="*{description}"
							th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"
					/>
					<div
							class="invalid-feedback"
							th:if="${#fields.hasErrors('description')}"
							th:errors="*{description}">Invalid project description
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label" th:for="mailSubject">Mail subject:</label>
				<div class="col-sm-10">
					<input
							type="text"
							required
							class="form-control"
							id="mailSubject"
							name="mailSubject"
							placeholder="Merry Christmas 2023!"
							th:field="*{mailSubject}"
							th:classappend="${#fields.hasErrors('mailSubject')} ? 'is-invalid' : ''"
					/>
					<div
							class="invalid-feedback"
							th:if="${#fields.hasErrors('mailSubject')}"
							th:errors="*{mailSubject}">Invalid mail subject
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label" th:for="postId">Mail body:</label>
				<div class="col-sm-10">
					<select class="form-control"
							id="postId"
							name=postId
							style="width:50%;float:left;"
					>
						<option value="0">--SELECT--</option>
						<option
								th:each="text : ${all_texts}"
								th:value="${text.key}"
								th:text="${text.value}"
								th:selected="${text.key==project.postId}"
						></option>
					</select>
				</div>
			</div>

			<div class="form-group row" id="groups_div">
				<label class="col-sm-2 col-form-label" th:for="people">Groups:</label>
				<div class="col-sm-10">
					<select
							size=10
							class="form-control"
							id=sel_groups
							multiple=multiple
							name=sel_groups
							style="width:30%;float:left;"
					>
						<option
								th:each="option : ${all_groups}"
								th:value="${option.groupId}"
								th:text="${option.groupName}"
						></option>
					</select>
					<div style="float:left;text-align:center">
						<a class="btn btn-primary" onclick="addGroup()">Add ➡</a>
						</br>
						<span class="btn btn-primary" onclick="removeGroup()">⬅ Remove</span>
					</div>
					<div style="width:30%;float:left;">
						<select
								size=10
								class="form-control"
								multiple=multiple
								id=selected_groups
								name=selected_groups
								th:field="*{groups}"
								style="float:left;"
						>
							<option
									th:each="option : ${project.groups}"
									th:value="${option.groupId}"
									th:text="${option.groupName}"
							></option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-group row" id="companies_div">
				<label class="col-sm-2 col-form-label" th:for="people">Companies:</label>
				<div class="col-sm-10">
					<select
							size=10
							class="form-control"
							id=sel_companies
							multiple=multiple
							name=sel_companies
							style="width:30%;float:left;"
					>
						<option
								th:each="option : ${all_companies}"
								th:value="${option.Id}"
								th:text="${option.name}"
						></option>
					</select>
					<div style="float:left;text-align:center">
					<span
							class="btn btn-primary"
							onclick="addCompany()"
					>Add ➡</span>
						</br>
						<span
								class="btn btn-primary"
								onclick="removeCompany()"
						>⬅ Remove
					</span>
					</div>
					<div style="width:30%;float:left;">
						<select
								size=10
								class="form-control"
								multiple=multiple
								id=selected_companies
								name=selected_companies
								th:field="*{people}"
								style="float:left;"
						>
							<option
									th:each="option : ${project.companies}"
									th:value="${option.Id}"
									th:text="${option.name}"
							></option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-group row" id="persons_div">
				<label class="col-sm-2 col-form-label" th:for="people">Individuals:</label>
				<div class="col-sm-10">
					<select
							size=10
							class="form-control"
							id=available_persons
							multiple=multiple
							name=available_persons
							style="width:30%;float:left;"
					>
						<option
								th:each="option : ${all_persons}"
								th:value="${option.personId}"
								th:text="${option.firstName} + ' ' + ${option.familyName}"
						></option>
					</select>
					<div style="float:left;text-align:center">
					<span
							class="btn btn-primary"
							onclick="addPerson()"
					>Add ➡</span>
						</br>
						<span
								class="btn btn-primary"
								onclick="removePerson()"
						>⬅ Remove
					</span>
					</div>
					<div style="width:30%;float:left;">
						<select
								size=10
								class="form-control"
								multiple=multiple
								id=selected_pers
								name=selected_pers
								th:field="*{people}"
								style="float:left;"
						>
							<option
									th:each="option : ${project.people}"
									th:value="${option.personId}"
									th:text="${option.firstName} + ' ' + ${option.familyName}"
							></option>
						</select>
					</div>
				</div>
			</div>

			<button type="submit">Submit</button>
			<button type="submit" th:formaction="@{/projects/save_new}" >Save as New</button>
		</form>
	</div>


</section>
</div>


</body>
</html>
