<div th:fragment="pagination(target)">
    <nav aria-label="Pagination" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a th:attr="hx-target=body,hx-include=paging-form,hx-trigger=click,hx-post='/blkm_interface/' + ${target} + '/page/' + ${pageNum}"
                   class="btn btn-primary" th:classappend="${currentPage == 1} ? 'disabled'"
                >&#9194;&#xFE0E;</a>
            </li>
            <li class="page-item font-weight-bold">
                <a th:attr="hx-target=body,hx-include=paging-form,hx-trigger=click,hx-post='/blkm_interface/' + ${target} +'/navigate/prev'"
                   class="btn btn-primary" th:classappend="${currentPage == 1} ? 'disabled'"
                >&#9664;&#xFE0E;️️</a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page}, ${target})"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item font-weight-bold" >
                <input type="hidden" name="currentPage" th:value="${currentPage}">
                <input type="hidden" name="totalPages" th:value="${totalPages}">
                <a th:attr="hx-target=body,hx-include=paging-form,hx-trigger=click,hx-post='/blkm_interface/' + ${target} +'/navigate/next'"
                   class="btn btn-primary" th:classappend="${currentPage == totalPages} ? 'disabled'"
                >&#9654;&#xFE0E;</a>
            </li>
            <li class="page-item">
                <a th:attr="hx-target=body,hx-include=paging-form,hx-trigger=click,hx-post='/blkm_interface/' + ${target} +'/navigate/last'"
                   class="btn btn-primary"  th:classappend="${currentPage == totalPages} ? 'disabled'"
                >&#9193;&#xFE0E;</a>
            </li>
        </ul>
    </nav>
</div>

