<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{workflow_layout.html}"
>
    <head>
    <title>Bulk mailing: People</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/pagination_style.css}" />
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <style>
        .paging-form{
    }
    </style>
    </head>
<body>
<section layout:fragment="content">

    <div class="container-fluid" style="max-width: 90%; margin: 0;">
        <h2 class="text-center">People</h2>

        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
             role="alert">
            [[${message}]]
            <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div>
            <form th:action="@{/people/search}" method="post" id="searchForm" >
                <div class="row">
                    <div class="col">
                        <div class="search">
                            <input
                                id="keyword"
                                type="search"
                                name="keyword"
                                th:value="${keyword}"
                                class="form-control"
                                placeholder="Enter keyword"
                            >
                            <button
                                type="submit_lens"
                                class="btn btn-secondary"
                                id="btn_search"
                                name="btn_search"
                            >
                            Search
                            </button>
                        </div>
                    </div>
                    <div class="col input-group">
                        <label for="pageSize">Page size:</label>
                        <input  class="page-item paging-form"
                                type="number"
                                size="5"
                                th:with="pageSize=*{pageSize}"
                                name="pageSize"
                                id="pageSize"
                                th:value="${pageSize}"
                        />
                    </div>
                    <div class="col">
                        <button name="btnClear" class="btn btn-info">Clear</button>
                        <a th:href="@{/person/new}" class="btn btn-info">New</a>
                        &nbsp <div class="btn btn-primary tooltip"><i class="fas fa-info-circle"></i>
                        <div class="bottom">
                            <h3>How to use this page</h3>
                            <p>Here you define the details of single people.</p>
                            <p>The persons defined here are the ultimate recipients of your messages.</p>
                            <p>You use companies and groups to easily select the people you want to message.</p>
                        </div>
                    </div>
                </div>



        <div th:if="${people.size() > 0}">
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Family Name</th>
                    <th scope="col">Company</th>
                    <th scope="col">Groups</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person : ${people}">
                    <th scope="row">[[${person.personId}]]</th>
                    <td>[[${person.firstName}]]</td>
                    <td>[[${person.familyName}]]</td>
                    <td><div th:if="${person.company}">[[${person.company.name}]]</div></td>
                    <td>
                        <div th:if="${person.groups}" th:each="group:${person.groups}">[[${group.groupName}]]</div>
                        <div th:unless="${person.groups}">-</div>
                    </td>
                    <td>
                        <a th:if="${person.active}" 
                           th:href="@{'/people/' + ${person.personId} + '/published/false'}" title="Disable this person"><i class="fas fa-check"></i></a>
                        <a th:if="! ${person.active}" 
                           th:href="@{'/people/' + ${person.personId} + '/published/true'}" title="Disable this person"><i class="fas fa-circle"></i></a>
                        <a th:href="@{'/people/edit/' + ${person.personId}}" title="Edit this person"
                           ><i class="fas fa-marker"></i></a>
                        &nbsp;
                        <a
                            th:href="@{'/people/delete/' + ${person.personId}}"
                            th:title="${person.firstName}" id="btnDelete"
                            title="Delete this person"
                            onclick="return confirm('Are you sure you wish to delete this person?')"
                        ><i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:unless="${people.size() > 0}">
            <span>No people found!</span>
        </div>

                <div th:replace="fragments/pagination :: pagination(people)"></div>

        </form>

    </div>



</section>
</div>
</body>
</html>
