<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{workflow_layout.html}"
>
    <head>
    <title>Bulk mailing: Texts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/pagination_style.css}" />
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <style>
        .paging-form{
        }
    </style>

    </head>
<body>
<section layout:fragment="content">

    <div class="container-fluid" style="max-width: 90%; margin: 0;">
        <h2 class="text-center">Texts</h2>

        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
             role="alert">
            [[${message}]]
            <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div>
            <form th:action="@{/texts/search}" method="post" id="searchForm" >
                <div class="row">
                    <div class="col">
                        <div class="search">
                            <input
                                id="keyword"
                                type="search"
                                name="keyword"
                                th:value="${keyword}"
                                class="form-control"
                                placeholder="Enter keyword"
                            >
                            <button
                                type="submit_lens"
                                class="btn btn-secondary"
                                id="btn_search"
                                name="btn_search"
                            >
                            Search
                            </button>
                        </div>
                    </div>
                    <div class="col input-group">
                        <label for="pageSize">Page size:</label>
                        <input  class="page-item paging-form"
                                type="number"
                                size="5"
                                th:with="pageSize=*{pageSize}"
                                name="pageSize"
                                id="pageSize"
                                th:value="${pageSize}"
                        />
                    </div>
                    <div class="col">
                        <button name="btnClear" class="btn btn-info">Clear</button>
                        <a href="/texts/new" class="btn btn-info">New</a>
                        &nbsp <div class="btn btn-primary tooltip"><i class="fas fa-info-circle"></i>
                        <div class="bottom">
                            <h3>How to use this page</h3>
                            <p>Here you can define the texts of your emails.</p>
                            <p>Use the editor to create catchy messages.</p>
                            <p>The texts defined here will be used in the "Projects' page to create the actual email messages.</p>
                        </div>
                    </div>
                </div>

        <div th:if="${posts.size() > 0}">
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <th scope="row">[[${post.id}]]</th>
                    <td>[[${post.title}]]</td>
                    <td>
                        <a th:href="@{'/texts/edit/' + ${post.id}}" title="Edit this text"
                          ><i class="fas fa-marker"></i></a>
                        <a
                            th:href="@{'/texts/delete/' + ${post.id}}"
                            th:title="${post.title}" id="btnDelete"
                            title="Delete this text"
                            onclick="return confirm('Are you sure you wish to delete this text?')"
                        ><i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:unless="${posts.size() > 0}">
            <span>No texts found!</span>
        </div>

        <div th:replace="fragments/pagination :: pagination(texts)"></div>
            </form>
        </div>

    </div>



</section>
</div>
</body>
</html>
