<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{workflow_layout.html}">

    <head>
    <title>Bulk mailing: Error 404 - Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </head>

<body>
<section layout:fragment="content">

    <h1>Error 500 - Internal server error</h1>

    <p>Message: <span th:text="${excmgs}"></span></p>
    <pre>Message: <span th:text="${stacktrace}"></span></pre>

    <p>Go to <a href='/'>Dashboard</a></p>


</section>

</div>
</body>
</html>
